# -*- python -*-
# ex: set syntax=python:
"""
Buildbot master server configuration.

This is the buildmaster configuration for Turnkey Linux factory
running on the Outscale cloud.
"""

import boto.utils

import outscale_factory_buildbot.buildbot as bb


# BUILDBOT CONFIG

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

# FACTORY CONFIG

factory_config_dir = '/etc/outscale-factory-master'
repo_config_file = '/srv/outscale-factory-master/tklgit.json'
fc = bb.config.read_factory_config(factory_config_dir)
repos = bb.config.read_repo_config(fc, repo_config_file)
meta = boto.utils.get_instance_metadata()
args = c, fc, repos, meta

# LOGGING

bb.log.configure_logging(*args)

# BUILDSLAVES

bb.slaves.configure_buildslaves(*args)

# CHANGESOURCES

bb.changesources.configure_changesources(*args)

# SCHEDULERS

bb.schedulers.configure_schedulers(*args)

# BUILDERS

bb.builders.configure_builders(*args)

# STATUS TARGETS
# PROJECT IDENTITY

bb.status.configure_status(*args)

# DB URL

bb.db.configure_db(*args)
